<mat-card>
  <!--<mat-icon mat-card-image (click)="onClickEdit(product)">image</mat-icon>-->
  <img mat-card-image src="{{product.media ? product.media : '/assets/images/no_photo.jpg'}}">
  <img src="">
  <mat-card-content fxLayout="row wrap" xLayoutAlign="center center">
    <div fxFlex class="mat-body text-center">{{product.name}}</div>
    <div fxFlex class="mat-body text-center">{{product.price}} $</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button fxFlex (click)="onClickEdit(product)">EDIT</button>
  </mat-card-actions>
</mat-card>
